# Your Medusa backend, should be updated to where you are hosting your server. Remember to update CORS settings for your server. See – https://docs.medusajs.com/usage/configurations#admin_cors-and-store_cors
MEDUSA_BACKEND_URL=https://medcu511ko5iop67dpvqn7g.nomodo.app
STORE_CORS=http://localhost:8000,https://medcu511ko5iop67dpvqn7g.nomodo.app
# Your publishable key that can be attached to sales channels. See - https://docs.medusajs.com/development/publishable-api-keys
NEXT_PUBLIC_MEDUSA_PUBLISHABLE_KEY=pk_42737a3d61cc64e8a78d85a43aa98e7a00c3975069e649a3446a73f58c118cfc #pk_ac19b9e3d2972c259826d2ffcabb0172bf7396e039ac01ce80379571814fdff0

# Your store URL, should be updated to where you are hosting your storefront.
NEXT_PUBLIC_BASE_URL=https://stocu52cko5iop67dpvqttg.nomodo.app

# Your preferred default region. When middleware cannot determine the user region from the "x-vercel-country" header, the default region will be used. ISO-2 lowercase format.
NEXT_PUBLIC_DEFAULT_REGION=eu

# Your Stripe public key. See – https://docs.medusajs.com/add-plugins/stripe
NEXT_PUBLIC_STRIPE_KEY=pk_test_51OzEtTRuKMdK9AKvYCyOHEe64JjcyC29mHMcYxkQTJCKoQQHxVoSJloOIdDDPmw6smF5YeIZPq4E7xskvaF5rVo800wJ6hZGUB

# Your Next.js revalidation secret. See – https://nextjs.org/docs/app/building-your-application/data-fetching/fetching-caching-and-revalidating#on-demand-revalidation
REVALIDATE_SECRET=supersecret
NEXT_PUBLIC_STRIPE_ON_BEHALF_OF=acct_1QDkwZRsoQIi01W4